<header class="header">
    <div class="header__wrapper wrapper">
        <div class="header__menu">
            <span></span>
            <span></span>
        </div>
        <div class="header__logo">
            <img loading="lazy" width="{{ image.width }}" height="{{ image.height }}" src="{{ section.settings.logo | img_url }}">
        </div>
        <div class="header__block">
            <div class="header__acÑount">
                <a href="" class="header__log-in">Log in</a>
                <a href="" class="header__create-account">Create account</a>
            </div>
            <a href="" class="header__search">
                {{ 'search.svg' | asset_url | img_tag }}
            </a>
            <a href="/cart" class="header__card">
                {{ 'card.svg' | asset_url | img_tag }}
                <span class="header__price">1050 UAH</span>
            </a>
        </div>
    </div>
</header>


{% schema %}
{
    "name":"Header logo",
    "settings":[
       {
          "type":"image_picker",
          "id":"logo",
          "label" : "Logo"
       }
    ]
 }
{% endschema %}